<!DOCTYPE html>
<html>
    <head>
        <title>PYmon - {% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Slideshow builder ITC">
        <meta name="keywords" content="slideshow builder, powerpoint online">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab" rel="stylesheet">
        <link href="/css/common.css?v={{version}}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block app %}{% endblock %}
        <script class="game-filter" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.game').hide();
                $('.game.open').show();


                // Avatar picker handler
                $(".avatar").click(function(e) {
                    $(this).toggleClass("clicked");
                    $(".avatar").not(this).each(function() {
                        $(this).removeClass("clicked");
                    });
                    

                    let img_url = $(this).css("background-image");
                    img_url = img_url.substring(5, img_url.lastIndexOf('"'));
                    console.log(img_url);
                    $("input[name='avatar']").val(img_url);

                });
            })
        </script>
        <script>
            $('.filter').click(function(e) {
                // Highlight clicked heading
                $('.filter').removeClass('clicked');
                $(this).addClass('clicked');

                // List relevant games
                let status = $(this).text();
                if (status == 'All') {
                    $('.game').show();
                } else if (status == 'Won') {
                    $('.game').hide();
                    $('.game.won').show();
                } else if (status == 'Failed') {
                    $('.game').hide();
                    $('.game.failed').show();
                } else if (status == 'Open') {
                    $('.game').hide();
                    $('.game.open').show();
                }
            });
        </script>
    </body>
</html>