<!DOCTYPE html>
<html>
    <head>
        <title>PYmon - {% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Slideshow builder ITC">
        <meta name="keywords" content="slideshow builder, powerpoint online">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab" rel="stylesheet">
        <link href="/css/common.css?v={{version}}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block app %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            function deleteGame(event) {
                event.preventDefault();

                let url = event.target.getAttribute('data-url');
                let filter = $('.clicked')[0].textContent.toLowerCase();

                fetch(url, {
                    method: 'DELETE',
                    }).then(response => {
                        $(`a[href='${url}']`).addClass('deleted');
                        $('.game.deleted').hide();
                    }).catch(response => console.log(response));
            }
        </script>
        <script>
            $(document).ready(function() {
                $('.game').hide();
                $('.game.open').show();


                // Avatar picker handler
                $(".avatar").click(function(e) {
                    $(this).toggleClass("clicked");
                    $(".avatar").not(this).each(function() {
                        $(this).removeClass("clicked");
                    });
                    
                    let selected = $(".avatar.clicked");
                    let img_url = "";
                    if (selected.length > 0) {
                        img_url = $(this).css("background-image");
                        img_url = img_url.substring(5, img_url.lastIndexOf('"'));
                        console.log(img_url);
                        $("input[name='avatar']").val(img_url);
                    } else {
                        img_url = "https://cdn0.iconfinder.com/data/icons/cyptocurrency-line/32/anonymouscryptocurrency_crypto_people-512.png";
                        $("input[name='avatar']").val(img_url);
                    }
                });
            })
        </script>
        <script>
            $('.filter').click(function(e) {
                // Highlight clicked heading
                $('.filter').removeClass('clicked');
                $(this).addClass('clicked');

                // List relevant games
                let status = $(this).text();

                switch(status) {
                    case 'All':
                        $('.game').show();
                        break;
                    case 'Won':
                        $('.game').hide();
                        $('.game.won').show();
                        break;
                    case 'Failed':
                        $('.game').hide();
                        $('.game.failed').show();
                        break;
                    case 'Open':
                        $('.game').hide();
                        $('.game.open').show();
                        break;
                    case 'Full':
                        $('.game').hide();
                        $('.game.full').show();
                        break;
                    case 'On':
                        $('.game').hide();
                        $('.game.on').show();
                        break;
                    default:
                        $('.game').hide();
                        $('.game.open').show();
                }
            });
        </script>
    </body>
</html>